.projects {
  background-color: aliceblue;
  color: cornflowerblue;
  
}
.mealfly{
  background-color: cornsilk;
  color: purple;
  text-decoration: none;
}
.gitajob {
  background-color: cornsilk;
  color: blueviolet;
  text-decoration-style: none;
}