.navbar {
  background-color: darkgray;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
